<!doctype html>

<html>

<head>
	<title>Jake P</title>
	<link rel="stylesheet" href="/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
	<script>
		$(function () {
			$("#footerContent").load("/footer.html");
			$("#navContent").load("/navbar.html");
		});

		var app = angular.module("app", []);
		app.controller('exp-cards', ['$scope', function ($scope) {
			$scope.profexps = [];
			var profexpval = [
				{ position: 'Machine Learning Intern', company: "Army Research Lab", location: "Adelphi, MD", timeframe: "asdf", overview: " asdfa" },
				{ position: 'Crew Leader', company: "Crestview Lawn", location: "Laurel MD", timeframe: "asdf", overview: " asdfa" }
			];
			angular.forEach(profexpval, function (value, key) {
				$scope.profexps.push(value);
			});

			$scope.educationexps = [];
			var profexpval = [
				{ position: 'BS of cs ', company: "UMD", location: "CP, MD", timeframe: "asdf", overview: " asdfa" },
				{ position: 'Highschool', company: "Atholton", location: "Columbia MD", timeframe: "asdf", overview: " asdfa" }
			];
			angular.forEach(profexpval, function (value, key) {
				$scope.educationexps.push(value);
			});

			$scope.projexps = [];
			var projexpval = [
				{ position: 'proj 1 ', company: "UMD", location: "CP, MD", timeframe: "asdf", overview: " asdfa" }
			];
			angular.forEach(projexpval, function (value, key) {
				$scope.projexps.push(value);
			});
		}]);

	</script>
	<style>
		.exp-card {
			width: 400px;
			margin: 10px;
			display: inline-block;
			background-color: grey;
		}

		.exp-card h1 {
			margin: 0;
		}

		.exp-container {
			padding: 0.01em 1em;
			padding-top: 0;
			padding-bottom: 0;
			display: block;
		}

		.exp-container p {
			margin: 0;
		}

		.exp-card-top-bot {
			color: darkblue;
		}

		h1 .subtitle {
			margin-top: -0.1em;
			font-size: 20px;
		}
	</style>
</head>

<body ng-app="app" ng-cloak>
	<main>

		<nav>
			<div id="navContent"></div>
		</nav>
		<h1>Experience</h1>

		<h2>Professional</h2>

		<div ng-controller="exp-cards">
			<div ng-repeat="exp in profexps">
				<div class="exp-card">
					<div class="exp-container exp-card-top-bot">
						<h1>
							{{exp.position}}
							<div class="subtitle">{{exp.company}} | {{exp.location}}</div>
						</h1>
					</div>

					<div class="exp-container">
						<p>{{exp.overview}}
						</p>
					</div>

					<div class="exp-container exp-card-top-bot">
						<p>{{exp.timeframe}}</p>
					</div>

				</div>
			</div>
		</div>



		<h2>Educational</h2>
		<div ng-controller="exp-cards">
			<div ng-repeat="exp in educationexps">
				<div class="exp-card">
					<div class="exp-container exp-card-top-bot">
						<h1>
							{{exp.position}}
							<div class="subtitle">{{exp.company}} | {{exp.location}}</div>
						</h1>
					</div>

					<div class="exp-container">
						<p>{{exp.overview}}
						</p>
					</div>

					<div class="exp-container exp-card-top-bot">
						<p>{{exp.timeframe}}</p>
					</div>

				</div>
			</div>
		</div>

		<h2>Project</h2>
		<div ng-controller="exp-cards">
			<div ng-repeat="exp in projexps">
				<div class="exp-card">
					<div class="exp-container exp-card-top-bot">
						<h1>
							{{exp.position}}
							<div class="subtitle">{{exp.company}} | {{exp.location}}</div>
						</h1>
					</div>

					<div class="exp-container">
						<p>{{exp.overview}}
						</p>
					</div>

					<div class="exp-container exp-card-top-bot">
						<p>{{exp.timeframe}}</p>
					</div>

				</div>
			</div>
		</div>
	</main>
	<footer>
		<div id="footerContent"></div>
	</footer>
</body>

</html>